<div class="container-fluid">
  <div class="form-box">
    <h3 class="page-title">注文履歴一覧</h3>
    <div class="row">
      <div class="search-box col-md-3">
        <p>店舗名検索</p>
          <%= form_with url: shops_orders_search_path, method: :get, local: true do |f| %>
            <%= f.text_field :keyward %>
            <%= f.submit "検索", class: "btn" %>
          <% end %>
        <p>配送ステータスから探す</p>
        <p><%= link_to "全て", shops_orders_path, class: "link genre-search-link" %></p>
        <%= form_with url: shops_orders_path, method: :get, local: true do |f| %>
          <%= f.select :delivery_status, Order.delivery_statuses.keys.to_a %>
          <%= f.submit "検索", class: "btn" %>
        <% end %>
      </div>
      <div class="col-md-9 order-index">
        <table class="table">
          <tr>
            <td>注文日</td>
            <td>店舗名</td>
            <td>商品</td>
            <td>発送ステータス</td>
            <td></td>
          </tr>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.to_s(:datetime) %></td>
            <td><%= order.customer.store_name %></td>
            <td><% order.order_items.first(2).each do |order_item| %>
              <%= order_item.item.item_name %>
              <% end %>
              など...
            </td>
            <td><%= order.delivery_status %></td>
            <td><%= link_to "詳細を表示", shops_order_path(order.id) %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>