<div class="container w-100">
  <h3 class="order-title">
    <%= @order.created_at %>の注文
  </h3>
  <div class="d-flex">
    <div class="border order-info w-75 d-flex">
      <div class="customer-info w-50">
        <h4>お届け先情報</h4>
        <div class="customer-contents">
          <label>店舗名</label>
          <%= @order.customer.store_name %>
        </div>
        <div class="customer-contents">
          <label>住所</label>
          <%= @order.customer.address %>
        </div>
        <div class="customer-contents">
          <label>郵便番号</label>
          <%= @order.customer.postal_code %>
        </div>
        <div class="customer-contents">
          <label>電話番号</label>
          <%= @order.customer.phone_number %>
        </div>
      </div>
      <div class="w-25">
        <h4>お支払い方法</h4>
        <%= @order.payment %>
        <h4>納品日</h4>
        <%= @order.delivery_on %>
      </div>
      <div class="w-25">
        <h4>配送ステータス</h4>
        <%= form_with model: @order, url: shops_order_path, local: true do |f| %>
        <%= f.select :delivery_status, Order.delivery_statuses.keys.to_a %>
        <%= f.submit "変更", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
    <div class="w-25 order-prices">
      <div class="price-contents">
        <label>小計金額</label>
        <%= @order.total_price - @order.order_postage %>
      </div>
      <div class="price-contents">
        <label>送料</label>
        <%= @order.order_postage %>
        </div>
      <div class="price-contents">
        <label>合計金額</label>
        <%= @order.total_price%>
        </div>
    </div>
  </div>
  <div class="w-100 order-items">
    <% @order_items.each do |order_item| %>
    <div class="item-contents mx-1 p-2">
      <%= order_item.item.item_name %>|
      <%= "単価：#{order_item.price}" %>|
      <%= "数量：#{order_item.amount}" %>|
      <%= "小計：#{order_item.price*order_item_amount}円" %>
    </div>
    <% end %>
  </div>
</div>