<div class="container-fluid">
  <div class="form-box">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="page-title"><%= "#{@customer.store_name}様のプロフィール"%></h3>
        <div class="info-group row">
          <div class="col-md-4">
            <label class="info-label">店舗名</label>
          </div>
          <div class="col-md-8">
            <%= @customer.store_name %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-4">
            <label class="info-label">責任者氏名</label>
          </div>
          <div class="col-md-8">
            <%= @customer.store_manager %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-4">
            <label class="info-label">郵便番号</label>
          </div>
          <div class="col-md-8">
            <%= @customer.postal_code %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-4">
            <label class="info-label">住所</label>
          </div>
          <div class="col-md-8">
            <%= @customer.address%>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-4">
            <label class="info-label">電話番号</label>
          </div>
          <div class="col-md-8">
            <%= @customer.phone_number%>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-4">
            <label class="info-label">メールアドレス</label>
          </div>
          <div class="col-md-8">
            <%= @customer.email%>
          </div>
        </div>
        <div>
          <% link_to "注文一覧を見る", shops_orders_path(customer_id: params[:id]), class: "btn btn-warning" %>
          <% link_to "メッセージを送る", rooms_path, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="page-title"><%= "#{@customer.store_name}様のレビュー"%></h3>
        <div class="reviews">
          <% @reviews.each do |review| %>
            <div class="row info-group">
              <div class="col-lg-5">
                <div id="star" class="read-only-star" data-score="<%= review.rate%>"></div>
              </div>
              <div class="col-lg-4">
                <%= review.created_at.to_s(:datetime) %>
              </div>
              <div class="col-lg-3">
                <%= link_to review.content.truncate(10), review_path(review.id) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.read-only-star').empty();
    $('.read-only-star').raty({
      readOnly: true,
      half: true,
      size: 36,
      starOff: "<%= asset_path('star-off.png') %>",
      starOn: "<%= asset_path('star-on.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function () {
        return $(this).attr('data-score');
      }
    });
</script>