<div class="container">
  <div class="d-flex">
    <div class="w-75 customer-info">
      <h3 class="customer-name">
        <%= @customer.store_name %>様
      </h3>
      <div class="customer-contens">
        <label>店舗名</label>
        <%= @customer.store_name %>
      </div>
      <div class="customer-contens">
        <label>責任者氏名</label>
        <%= @customer.store_manager %>
      </div>
      <div class="customer-contens">
        <label>郵便番号</label>
        <%= @customer.postal_code %>
      </div>
      <div class="customer-contens">
        <label>住所</label>
        <%= @customer.address %>
      </div>
      <div class="customer-contens">
        <label>電話番号</label>
        <%= @customer.phone_number %>
      </div>
      <div class="customer-contens">
        <label>メールアドレス</label>
        <%= @customer.email %>
      </div>
      <% link_to "注文一覧を見る", shops_orders_path(customer_id: params[:id]), class: "btn btn-warning" %>
      <% link_to "メッセージを送る", rooms_path, class: "btn btn-primary" %>
    </div>
    <div class="w-25 review-info">
      <h3 class="text-align-center">レビュー</h3>
      <table class="table">
        <% @reviews.each do |review| %>
        <tr>
          <td><%= review.rate %></td>
          <td><%= review.created_at %></td>
          <td><%= link_to review.content.truncate(10), shops_review_path(review.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>