<div class="container">
<h3 class="text-center">業者一覧</h3>
  <div class="d-flex">
    <div class="search-box w-25">
      <%= form_with url: shops_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyward %>
      <%= f.submit :検索 %>
      <% end %>
      <!--<p>検索</p>-->
      <div class="genre-search">
        <p>ジャンルから探す</p>
        <% @genres.each do |genre| %>
        <%= link_to genre, shops_path(shop_genre: genre) %>
        <br>
        <% end %>
      </div>
       <div class="ranking">
          <p>お気に入り登録者数ランキング</p>
          <% ranking = 1 %>
          <% @rank_shops.each do |rank_shop| %>
          <%#= "第#{ranking}位" %>
          <%= link_to "第#{ranking}位#{rank_shop.shop_name}", shop_path(rank_shop.id) %><br>
          <% ranking += 1 %>
          <% end %>
       </div>
    </div>
    <div class="shops w-75 d-flex flex-wrap">
      <% @shops.each do |shop| %>
      <div class="shop-contents w-50 d-flex">
         <%= link_to shop_path(shop.id) do %>
        <div class="shop-image w-50">
          <%= attachment_image_tag shop, :shop_image, fallback:"no_image.jpeg",class:"w-100" %>
          <p><%= shop.shop_name %></p>
        </div>
        <div class="shop-info w-50">
          <%= shop.shop_genre %>
          <p>会社概要</p>
          <%= shop.introduction %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>