<div class="container-xl">
  <div class="form-box">
    <h3 class="page-title"><%= @shop.shop_name %></h3>
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <%= attachment_image_tag @shop, :shop_image, fallback: "no_image.jpeg", class: "lg-image" %>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">会社名</label>
          </div>
          <div class="col-md-6">
            <%= @shop.shop_name %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">担当者氏名</label>
          </div>
          <div class="col-md-6">
            <%= @shop.manager %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">ジャンル</label>
          </div>
          <div class="col-md-6">
            <%= @shop.shop_genre %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">郵便番号</label>
          </div>
          <div class="col-md-6">
            <%= @shop.postal_code %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">住所</label>
          </div>
          <div class="col-md-6">
            <%= @shop.address%>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">電話番号</label>
          </div>
          <div class="col-md-6">
            <%= @shop.phone_number%>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">メールアドレス</label>
          </div>
          <div class="col-md-6">
            <%= @shop.email%>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">会社紹介文</label>
          </div>
          <div class="col-md-6">
            <%= @shop.introduction %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center button-group">
          <p class="link">
            <%= link_to "この業者の商品を見る", items_path(shop_id: @shop.id), class: "btn" %>
          </p>
          <p class="link">
            <button id="js-review-btn" class="btn">この業者を評価する</button>
          </p>
          <p class="link">
            <% if @room %>
              <%= link_to "チャットルームへ移動", room_path(@room), class: "btn" %>
            <% else %>
              <%= form_with model: Room.new, local: true do |f| %>
                <%= f.hidden_field :shop_id, value: @shop.id %>
                <%= f.submit "この業者にチャットで連絡", class: "btn" %>
              <% end %>
            <% end %>
          </p>
          <% if Favorite.find_by(customer_id: current_customer.id, shop_id: @shop.id) %>
            <p class="link">
              <%= link_to "この業者をお気に入りから削除する", favorite_path(shop_id: @shop.id), method: :delete, class: "btn", data: {confirm: "お気に入りから削除しますか？"} %>
            </p>
          <% else %>
            <p class="link">
              <%= link_to "この業者をお気に入り登録する", favorites_path(customer_id: current_customer.id, shop_id: @shop.id), method: :post, class: "btn"%>
            </p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-10 mx-auto">
        <% @reviews.each do |review| %>
          <div class="row review-group border-bottom">
            <div class="col-lg-4">
              <%= review.customer.store_name %>
            </div>
            <div class="col-lg-4">
              <div class="read-only-star" data-score="<%= review.rate %>"></div>
            </div>
            <div class="col-lg-4">
              <p><%= link_to review.content.truncate(15), review_path(review.id) %></p>
              <% if review.customer_id == current_customer.id %>
                <div class="text-right">
                  <%= link_to "削除", review_path(review.id), method: :delete, data: {confirm: "レビューを削除しますか"}, class: "btn" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--モダールウインドウ-->
<div class="modal js-modal">
  <div class="modal-bg js-modal-close"></div>
  <div class="modal-content">
    <%= form_with model: @review,url: reviews_path, local: true do |f| %>
      <p>レビュー投稿</p>
      <div id="star">
        <%= f.label :rate, "評価" %>
        <%= f.hidden_field :rate, id: :review_star %>
      </div>
      <div>
        <%= f.label :content, "コメント" %>
        <%= f.text_area :content, class: "form-control", rows: 5, placeholder: "コメントはここに" %>
      </div>
      <%= f.hidden_field :shop_id, value: @shop.id %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.submit "送信", class: "btn"%>
    <% end %>
    <a class="js-modal-close btn" href="">閉じる</a>
  </div>
</div>
<!--モダールウインドウここまで-->
<script>
      $('#star').empty();
        $('#star').raty({
          size: 36,
          starOff: '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[rate]',
          half: true,
        });
      $('.read-only-star').empty();
        $('.read-only-star').raty({
          readOnly: true,
          half: true,
          size: 36,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn: "<%= asset_path('star-on.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          score: function () {
            return $(this).attr('data-score');
          }
        });
      </script>
      </div>
    </div>
  </div>
</div>