<div class="container-xl">
  <div class="d-flex">
    <div class="w-50 shop-image">
      <%= attachment_image_tag @shop, :shop_image, fallback: "no_image.jpeg" %>
    </div>
    <div class="w-25 shop-wrapper">
      <h4 class="text-center"><%= @shop.shop_name %></h4>
      <div class="shop-info">
        <table class="mx-auto">
          <tbody align="center">
            <tr>
              <th>担当者：</th>
              <td><%= @shop.manager %></td>
            </tr>
            <tr>
              <th>所在地：</th>
              <td><%= @shop.address %></td>
            </tr>
            <tr>
              <th>TEL：</th>
              <td><%= @shop.phone_number %></td>
            </tr>
            <tr>
              <th>email：</th>
              <td><%= @shop.email %></td>
            </tr>
            <tr>
              <th>ジャンル：</th>
              <td><%= @shop.shop_genre %></td>
            </tr>
            <tr>
              <th>会社紹介：</th>
              <td><%= @shop.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-25 link-group">
      <p class="mx-4">
        <%= link_to "この業者の商品を見る", items_path(shop_id: @shop.id), class: "btn" %>
      </p>
      <p class="mx-4">
        <button id="js-review-btn">この業者を評価する</button>
      </p>
      <p class="mx-4">
        <!--このショップとのチャットルームがあれば-->
        <% if @room %>
          <%= link_to "チャットルームへ移動", room_path(@room), class: "btn" %>
        <% else %>
          <%= form_with model: Room.new, local: true do |f| %>
          <%= f.hidden_field :shop_id, value: @shop.id %>
          <%= f.submit "この業者にチャットで連絡", class: "btn" %>
          <% end %>
        <% end %>
      </p>

      <% unless Favorite.find_by(customer_id: current_customer.id, shop_id: @shop.id) %>
        <p class="mx-4">
          <%= link_to "この業者をお気に入り登録する", favorites_path(customer_id: current_customer.id, shop_id: @shop.id), method: :post, class: "btn btn-success"%>
        </p>
      <% end %>
    </div>
  </div>
  <div class="w-75 review mx-auto">
    <table class="table">
      <tr>
        <th>店舗名</th>
        <th>評価</th>
        <th>レビュー</th>
        <th></th>
      </tr>
      <% @reviews.each do |review| %>
        <tr id="js-hover">
          <td><%= review.customer.store_name %></td>
          <td class= "read-only-star" data-score="<%= review.rate %>"></td>
          <td><%= link_to review.content, review_path(review.id)  %></td>
          <% if review.customer_id == current_customer.id %>
            <td><%= link_to "削除", review_path(review.id), method: :delete, class: "btn" %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<!--モダールウインドウ-->
<div class="modal js-modal">
  <div class="modal-bg js-modal-close"></div>
  <div class="modal-content">
    <%= form_with model: @review,url: reviews_path, local: true do |f| %>
      <p>レビュー投稿</p>
      <div id="star">
        <%= f.label :rate, "評価" %>
        <%= f.hidden_field :rate, id: :review_star %>
      </div>
      <div>
        <%= f.label :content, "コメント" %>
        <%= f.text_area :content, class: "form-control", rows: 5, placeholder: "コメントはここに" %>
      </div>
      <%= f.hidden_field :shop_id, value: @shop.id %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.submit "送信", class: "btn"%>
    <% end %>
    <a class="js-modal-close btn" href="">閉じる</a>
  </div>
</div>
<!--モダールウインドウここまで-->
<script>
      $('#star').empty();
        $('#star').raty({
          size: 36,
          starOff: '<%= asset_path('star-off.png') %>',
          starOn: '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[rate]',
          half: true,
        });
      $('.read-only-star').empty();
        $('.read-only-star').raty({
          readOnly: true,
          half: true,
          size: 36,
          starOff: "<%= asset_path('star-off.png') %>",
          starOn: "<%= asset_path('star-on.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          score: function () {
            return $(this).attr('data-score');
          }
        });
      </script>