<div class="container-xl">
  <div class="form-box col-lg-10 mx-auto">
    <% if customer_signed_in? %>
      <h3 class="page-title"><%= @shop.shop_name %>とのチャットルーム</h3>
      <div class="message-room">
        <% @messages.each do |message| %>
          <% if message.is_customer %>
            <div class="text-right my-3">
              <p><%= current_customer.store_name %></p>
              <div class="right-message">
                <p><%= message.content %></p>
              </div>
              <p class="datetime"><%= message.created_at.to_s(:datetime) %></p>
            </div>
          <% else %>
            <div class="text-left my-3">
              <p><%= @shop.shop_name %></p>
              <div class="left-message">
                <p><%= message.content %></p>
              </div>
              <p class="datetime"><%= message.created_at.to_s(:datetime) %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    <% elsif shop_signed_in? %>
      <h3 class="page-title"><%= @customer.store_name %>とのチャットルーム</h3>
      <div class="message-room">
        <% @messages.each do |message| %>
          <% if message.is_customer %>
          <div class="text-left my-3">
            <p><%= @customer.store_name %></p>
            <div class="left-message">
              <p><%= message.content %></p>
            </div>
            <p class="datetime"><%= message.created_at.to_s(:datetime) %></p>
          </div>
          <% else %>
          <div class="text-right my-3">
            <p><%= current_shop.shop_name %></p>
            <div class="right-message">
              <p><%= message.content %></p>
            </div>
            <p class="datetime"><%= message.created_at.to_s(:datetime) %></p>
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="mt-4">
      <%= form_with model: [@room, @message], url: room_messages_path(@room.id), class: "row justify-content-center align-items-center", local: true do |f| %>
        <%= f.text_field :content, class: "form-control col-9 mb-3" %>
        <%= f.submit "送信", class: "btn col-md-2 mb-3" %>
      <% end %>
    </div>
  </div>
</div>