<div class="row">
      <div class="search-box col-lg-3">
        <p>商品名検索</p>
        <%= form_with url: shops_items_search_path, method: :get, class: "row mb-2", local: true do |f| %>
          <%= f.text_field :keyward, class: "col-9 form-control" %>
          <%= f.submit "検索", class: "btn col-3" %>
        <% end %>
        <p>ジャンルから探す</p>
        <p><%= link_to "全て", shops_items_path %></p>
        <%= form_with url: shops_items_path, method: :get, local: true do |f| %>
          <%= f.select :item_genre, Item.item_genres.keys.to_a %>
          <%= f.submit "検索", class: "btn" %>
        <% end %>
      </div>
      <% if @items.empty? %>
        <div class="vh-100 col-lg-9">
          <p>該当の商品がありません</p>
        </div>
      <% else %>
        <div class="col-lg-9 row">
          <% @items.each do |item| %>
            <div class="shop-contents col-md-4 col-sm-6">
              <%= link_to shops_item_path(item.id), class: "row" do %>
                <div class="col-6">
                  <%= attachment_image_tag item, :item_image, fallback: "no_image.jpeg", class: "sm-image" %>
                </div>
                <div class="shop-info col-6 text-center">
                  <p>
                    <%= item.item_name.truncate(15) %>
                  </p>
                  <p>
                    <%= item.tax_price.to_s(:delimited) %>円（税込）
                  </p>
                  <% if item.sale_status %>
                    <p class="text-success">在庫あり</p>
                  <% else %>
                    <p class="text-danger">品切れ</p>
                  <% end %>
                  <p>
                    <%= item.item_introduction.truncate(15) %>
                  </p>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="col-12 d-flex justify-content-center">
            <%= paginate @items %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>