<div class="container-fluid">
  <div class="form-box">
    <h3 class="page-title"><%= "#{current_shop.shop_name}の商品一覧" %></h3>
    <div class="row">
      <div class="search-box col-lg-3">
        <p>商品名検索</p>
        <%= form_with url: shops_items_search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyward %>
          <%= f.submit "検索", class: "btn" %>
        <% end %>
        <p>ジャンルから探す</p>
        <p><%= link_to "全て", shops_items_path %></p>
        <% @genres.each do |item_genre| %>
          <p><%= link_to item_genre, shops_items_path(genre: item_genre) %></p>
        <% end %>
      </div>
      <div class="col-lg-9 row">
        <% @items.each do |item| %>
          <div class="shop-contents col-md-4 col-sm-6">
            <%= link_to item_path(item.id), class: "row" do %>
              <div class="col-6">
                <%= attachment_image_tag item, :item_image, fallback: "no_image.jpeg", class: "sm-image" %>
              </div>
              <div class="shop-info col-6 text-center">
                <p>
                  <%= item.item_name %>
                </p>
                <p>
                  <%= item.tax_price %>（税込）
                </p>
                <% if item.sale_status %>
                  <p class="text-success">在庫あり</p>
                <% else %>
                  <p class="text-danger">品切れ</p>
                <% end %>
                <p>
                  <%= item.item_introduction.truncate(15) %>
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>