<div class="container-fluid">
  <div class="form-box">
    <h3 class="page-title"><%= "#{current_shop.shop_name}の商品一覧" %></h3>
    <div class="row">
      <div class="search-box col-md-3">
        <p>商品名検索</p>
        <%= form_with url: shops_items_search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyward %>
          <%= f.submit "検索", class: "btn" %>
        <% end %>
        <p>ジャンルから探す</p>
        <p><%= link_to "全て", shops_items_path %></p>
        <% @genres.each do |item_genre| %>
          <p><%= link_to item_genre, shops_items_path(genre: item_genre) %></p>
        <% end %>
      </div>

      <div class="col-md-9 order-index">
      <table class="table">
        <tr>
          <td>商品名</td>
          <td>ジャンル</td>
          <td>価格</td>
          <td>販売ステータス</td>
          <td></td>
        </tr>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.item_name %></td>
          <td><%= item.item_genre %></td>
          <td><%= item.item_price %></td>
          <% if item.sale_status %>
          <td class="text-success">在庫あり</td>
          <% else %>
          <td class="text-danger">品切れ</td>
          <% end %>
          <td><%= link_to "詳細を表示する", shops_item_path(item.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
