<div class="container-xl">
  <div class="form-box text-center">
    <h3 class="page-title"><%= @item.item_name%></h3>
    <div class="row">
      <div class="col-md-6">
        <%= attachment_image_tag @item, :item_image, fallback: "no_image.jpeg", class: "shop-mypage-image" %>
      </div>
      <div class="col-md-6">
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">価格</label>
          </div>
          <div class="col-md-6">
            <%= "#{@item.item_price}円（税抜き）" %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">ジャンル</label>
          </div>
          <div class="col-md-6">
            <%= @item.item_genre %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">販売ステータス</label>
          </div>
          <div class="col-md-6">
            <% if @item.sale_status %>
              <p class="text-primary">在庫あり</p>
              <% else %>
              <p class="text-danger">品切れ</p>
            <% end %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-md-6">
            <label class="info-label">商品説明</label>
          </div>
          <div class="col-md-6">
            <%= @item.item_introduction %>
          </div>
        </div>
         <%= link_to "商品を編集する", edit_shops_item_path(@item.id), class: "btn text-center" %>
      </div>
    </div>
  </div>
</div>