<div class="container-xl">
  <div class="col-lg-8 form-box mx-auto text-center fade-in">
    <h3 class="page-title">マイページ</h3>
    <div class="info-group row">
      <div class="col-lg-6">
        <label class="info-label">店舗名</label>
      </div>
      <div class="col-lg-6">
        <%= current_customer.store_name %>
      </div>
    </div>
    <div class="info-group row">
      <div class="col-lg-6">
        <label class="info-label">責任者氏名</label>
      </div>
      <div class="col-lg-6">
        <%= current_customer.store_manager %>
      </div>
    </div>
    <div class="info-group row">
      <div class="col-lg-6">
        <label class="info-label">郵便番号</label>
      </div>
      <div class="col-lg-6">
        <%= current_customer.postal_code %>
      </div>
    </div>
    <div class="info-group row">
      <div class="col-lg-6">
        <label class="info-label">住所</label>
      </div>
      <div class="col-lg-6">
        <%= current_customer.address%>
      </div>
    </div>
    <div class="info-group row">
      <div class="col-lg-6">
        <label class="info-label">電話番号</label>
      </div>
      <div class="col-lg-6">
        <%= current_customer.phone_number%>
      </div>
    </div>
    <div class="info-group row">
      <div class="col-lg-6">
        <label class="info-label">メールアドレス</label>
      </div>
      <div class="col-lg-6">
        <%= current_customer.email%>
      </div>
    </div>
    <div>
      <%= link_to "内容を編集する", edit_mypages_path, class: "btn sign-btn" %>
    </div>
  </div>
</div>