<div class="container-xl">
  <div class="form-box col-lg-8 mx-auto">
    <h3 class="page-title">会員情報編集</h3>
    <%= form_with model: @shop, url: shops_mypages_path,local: true do |f| %>
      <%= render 'layouts/errors', model: @shop %>
      <div class="form-group row">
        <div class="col text-center">
        <label>
          <i class="fas fa-images">ショップ画像を選択する</i>
          <%= f.attachment_field :shop_image, style: "display: none;" %>
        </label>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label "会社名", class:"label-form"%>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :shop_name, placeholder: "例：神田物産",class:"form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label "担当者氏名", class:"label-form"%>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :manager,placeholder:"担当者名",class:"form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label "ジャンル",class: "label-form"%>
        </div>
        <div class="col-sm-6">
          <%= f.select :shop_genre, Shop.shop_genres.keys.to_a, {}, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label "郵便番号（ハイフンなし）", class: "label-form"%>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :postal_code, placeholder: "0000000", class: "form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label "住所", class: "label-form"%>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町０−０", class: "form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label "電話番号（ハイフンなし）", class: "label-form"%>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :phone_number,placeholder:"00000000000", class: "form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label "メールアドレス", class: "label-form"%>
        </div>
        <div class="col-sm-6">
          <%= f.email_field :email, placeholder: "example@email.com", class: "form-control"%>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label "会社紹介文", class: "label-form"%>
        </div>
        <div class="col-sm-6">
          <%= f.text_area :introduction, placeholder: "例：〇〇株式会社です。新鮮な海産物を取り扱っております。", class: "form-control"%>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit "変更する", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>