<div class="container mt-3">
  <h3 class="d-inline-block bg-light">新規会員登録</h3>
  <%= form_with model: current_shop, url: shops_mypages_path, local: true do |f| %>
  <div class="form-group row">
    <div class="col-4">
      <%= f.label "会社名", class:"label-form"%>
    </div>
    <div class="col-4">
      <%= f.text_field :shop_name,placeholder:"例：神田物産", class:"form-control"%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <%= f.label "担当者氏名", class:"label-form"%>
    </div>
    <div class="col-4">
      <%= f.text_field :manager,placeholder:"担当者名", class:"form-control"%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <%= f.label "ジャンル", class:"label-form"%>
    </div>
    <div class="col-4">
      <%= f.select :shop_genre, Shop.shop_genres.keys.to_a %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <%= f.label "郵便番号（ハイフンなし）", class:"label-form"%>
    </div>
    <div class="col-4">
      <%= f.text_field :postal_code, class:"form-control"%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <%= f.label "住所", class:"label-form"%>
    </div>
    <div class="col-8">
      <%= f.text_field :address, class:"form-control"%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <%= f.label "電話番号（ハイフンなし）", class:"label-form"%>
    </div>
    <div class="col-4">
      <%= f.text_field :phone_number, class:"form-control"%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-4">
      <%= f.label "メールアドレス", class:"label-form"%>
    </div>
    <div class="col-4">
      <%= f.email_field :email, class:"form-control"%>
    </div>
  </div>
   <div class="form-group row">
    <div class="col-4">
      <%= f.label "会社紹介文", class:"label-form"%>
    </div>
    <div class="col-4">
      <%= f.text_area :introduction, class:"form-control"%>
    </div>
  </div>
   <div class="form-group row">
    <div class="col-4">
      <%= f.label "会社イメージ画像", class:"label-form"%>
    </div>
    <div class="col-4">
      <%= f.attachment_field :shop_image, class:"form-control"%>
    </div>
  </div>
  <div class="actions row my-4">
    <div class="col-4"></div>
    <div class="col-3">
      <%= f.submit "変更する",class:"btn-block btn btn-success" %>
    </div>
  </div>
  <% end %>