<div class="container-xl">
  <div class="form-box text-center">
    <h3 class="page-title">マイページ</h3>
    <div class="row">
      <div class="col-lg-6">
        <%= attachment_image_tag current_shop, :shop_image, fallback: "no_image.jpeg", class: "lg-image" %>
      </div>
      <div class="col-lg-6">
        <div class="info-group row">
          <div class="col-lg-4">
            <label class="info-label">会社名</label>
          </div>
          <div class="col-lg-8">
            <%= current_shop.shop_name %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-lg-4">
            <label class="info-label">担当者氏名</label>
          </div>
          <div class="col-lg-8">
            <%= current_shop.manager %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-lg-4">
            <label class="info-label">ジャンル</label>
          </div>
          <div class="col-lg-8">
            <%= current_shop.shop_genre %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-lg-4">
            <label class="info-label">郵便番号</label>
          </div>
          <div class="col-lg-8">
            <%= current_shop.postal_code %>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-lg-4">
            <label class="info-label">住所</label>
          </div>
          <div class="col-lg-8">
            <%= current_shop.address%>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-lg-4">
            <label class="info-label">電話番号</label>
          </div>
          <div class="col-lg-8">
            <%= current_shop.phone_number%>
          </div>
        </div>
        <div class="info-group row">
          <div class="col-lg-4">
            <label class="info-label">メールアドレス</label>
          </div>
          <div class="col-lg-8">
            <%= current_shop.email%>
          </div>
        </div>
         <div class="info-group row">
          <div class="col-lg-4">
            <label class="info-label">会社紹介文</label>
          </div>
          <div class="col-lg-8">
            <%= current_shop.introduction%>
          </div>
        </div>
        <div class="button-group">
          <p><%= link_to "内容を編集する", edit_shops_mypages_path, class: "btn sign-btn" %></p>
          <p><%= link_to "商品を登録する", new_shops_item_path, class: "btn green-btn" %></p>
        </div>
      </div>
    </div>
  </div>
</div>