<div class="container-fluid">
  <div class="form-box col-md-10 mx-auto fade-in">
    <h3 class="page-title">お気に入り一覧</h3>
      <div class="row">
        <% @favorites.each do |favorite| %>
          <div class="shop-contents col-md-4 col-sm-6">
            <%= link_to shop_path(favorite.shop.id), class: "row" do %>
              <div class="col-6">
                <%= attachment_image_tag favorite.shop, :shop_image, fallback:"no_image.jpeg", class:"sm-image" %>
              </div>
              <div class="shop-info col-6 text-center">
                <p><%= favorite.shop.shop_name %></p>
                <%= favorite.shop.shop_genre %>
                <p>会社概要</p>
                <% if favorite.shop.introduction %>
                  <%= favorite.shop.introduction.truncate(15) %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>