<div class="container-xl">
  <div class="form-box col-md-8 mx-auto">
    <h3 class="page-title"><%= @review.customer.store_name %>様のレビュー</h3>
    <div class= "read-only-star" data-score="<%= @review.rate %>">評価：</div>
    <div class="content">
      <label>レビュー</label>
      <p><%= @review.content %></p>
    </div>
    <div class="text-right">
      <%= "To #{@review.shop.shop_name}: " %>
      <%= @review.created_at.to_s(:datetime) %>
    </div>
  </div>
</div>
<script>
    $('.read-only-star').empty();
     $('.read-only-star').raty({
    readOnly: true,
    half: true,
    size: 36,
    starOff: "<%= asset_path('star-off.png') %>",
    starOn: "<%= asset_path('star-on.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%= @review.rate %>"
  });
  </script>