<div class="container">
  <div class="d-flex flex-wrap">
    <% @shops.each do |shop| %>
    <div class="w-75 d-flex">
      <div class="w-25 buy-shop">
        <div class="w-50 shop-image d-inline-block">
          <%= attachment_image_tag shop[1].first.shop, :shop_image, class: "w-100", fallback: "no_image.jpeg" %>
        </div>
        <div class="w-50 d-inline-block">
          <%= shop[1].first.shop.shop_name %>
        </div>
      </div>
      <% @sum_price = 0 %>
      <% shop[1].each do |cart_item| %>
      <div class="w-75 d-flex cart-items">
        <div class="item-image w-25">
          <%= attachment_image_tag cart_item.item, :item_image, class: "w-100", fallback: "no_image.jpeg" %>
        </div>
        <div class="w-50 d-flex item-info">
          <div class="w-50">
            <p><%= cart_item.item.item_name %></p>
            <p><%= cart_item.item.tax_price %>（税込）</p>
          </div>
          <div class="w-50">
            <%= form_with model: cart_item, url: cart_item_path(cart_item.id), local: true do |f| %>
            <%= f.label "数量" %>
            <%= f.number_field :amount, min: 1, max:100 %>
            <%= f.submit "変更", class: "btn btn-success" %>
            <% end %>
            <label>小計</label>
            <%= cart_item.item.tax_price*cart_item.amount %>
            <%= link_to "削除", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger"%>
          </div>
        </div>
      </div>
    </div>
    <% @sum_price += cart_item.item.tax_price*cart_item.amount %>
    <% end %>
    <div class="w-25 prices">
      <table>
        <tr>
          <th>小計金額:</th>
          <td><%= @sum_price %></td>
        </tr>
        <tr>
          <% if @sum_price >= 3000 %>
          <% @postage = 0 %>
          <% else %>
          <% @postage = 400 %>
          <% end %>
          <th>送料：</th>
          <td><%= @postage %></td>
        </tr>
        <tr>
          <th>合計金額：</th>
          <td><%= @sum_price + @postage %></td>
        </tr>
      </table>
      <div class="buttons">
        <%= link_to "レジに進む", new_order_path(shop_id: shop[1].first.shop.id,total_price: @sum_price + @postage, sum_price: @sum_price), class: "btn btn-primary" %>
        <%= link_to "買い物を続ける", items_path, class: "btn btn-warning" %>
      </div>
    </div>
    <% end %>
  </div>
</div>