<div class="container-fluid">
  <div class="form-box fade-in">
    <h3 class="page-title">注文履歴一覧</h3>
    <div class="orders">
      <% @orders.each do |order| %>
      <p class="sub-title">注文日：<%= order.created_at.to_s(:datetime) %></p>
        <div class="row cart-item-boxs border-bottom">
          <div class="col-md-4 col-sm-4 order-shop">
            <%= link_to shop_path(order.shop.id) do %>
              <div class="hover-opacity">
                <%= attachment_image_tag order.shop, :shop_image, class: "sm-image", fallback: "no_image.jpeg" %>
                <%= order.shop.shop_name %>
              </div>
            <% end %>
          </div>
          <div class="col-md-5 col-sm-8 border-left border-right">
            <div class="row order-item">
              <div class="col-4">
                <%= attachment_image_tag order.order_items.first.item, :item_image, class: "sm-image", fallback: "no_image.jpeg" %>
              </div>
              <div class="col-8 text-center order-item-info">
                <p><%= order.order_items.first.item.item_name %></p>
                <p><%= order.order_items.first.item.tax_price %>円(税込)</p>
                <span>など...</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-right">
            <p>ただいまの配送状況：<br>
              <%= order.delivery_status %>
            </p>
            <%= link_to "詳細を表示", order_path(order.id), class: "btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>