<div class="container">
  <h3>注文履歴一覧</h3>
  <% @orders.each do |order| %>
  <div class="d-flex order-wrapper border-bottom text-center flex-wrap border-bottom">
    <div class="ordered-shop w-25">
      <label>注文日：</label>
      <%= order.created_at %>
      <%= attachment_image_tag order.shop, :shop_image, class: "w-75", fallback: "no_image.jpeg" %><br>
      <%= link_to order.shop.shop_name, shop_path(order.shop.id) %><br>
      <%= link_to "この業者を評価する", root_path, class: "btn btn-warning"%>
      <% room_id = Room.find_by(customer_id: current_customer.id, shop_id: order.shop.id) %>
      <% if room_id.present? %>
      <%= link_to "この業者にメッセージを送る", room_path(room_id), class:"btn btn-primary my-2" %>
      <% else %>
      <%= link_to "この業者にメッセージを送る", rooms_path, method: :post, class:"btn btn-primary my-2" %>
      <% end %>
    </div>
    <div class="w-50">
      <% order.order_items.each do |order_item| %>
      <div class="w-100 order-items text-center d-flex my-4">
        <div class="item_image">
          <%= attachment_image_tag order_item.item, :item_image, class: "w-50", fallback:"no_image.jpeg" %>
        </div>
        <div class="item-info d-block">
          <label>商品名：</label>
          <%= order_item.item.item_name %>
          <label>単価：</label>
          <%= "#{order_item.price}円" %>
          <label>数量：</label>
          <%= order_item.amount %>
          <label>小計：</label>
          <%= "#{order_item.price*order_item.amount}円" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="w-25 text-center align-items-center d-flex justify-content-center">
      <div class="right-box">
        <p>ただいまの配送状況：<%= order.delivery_status %></p>
        <%= link_to "詳細を表示", order_path(order.id), class: "btn btn-warning" %>
      </div>
    </div>
  </div>
  <% end %>
</div>