<div class="container-xl shop-sign-in">
  <div class="col-md-8 form-box mx-auto">
  <h2 class="page-title">ログイン</h2>
    <%= form_with model: @shop,url: shop_session_path,local:true do |f| %>
      <div class="form-group row">
        <%= f.label :"メールアドレス" ,class:"col-sm-4 col-form-label"%>
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :"パスワード",class:"col-sm-4 col-form-label" %>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit "ログイン",class: "btn" %>
      </div>
    <% end %>
    <div class="sign-up-links">
      <p class="nav">※会員登録がお済みでない方</p>
      <p><%=link_to "こちら",new_shop_registration_path %>から新規登録を行ってください。</p>
      <div class="shop-link text-right">
        <%= link_to "店舗ユーザーの方はこちらから", new_customer_session_path %>
      </div>
    </div>
  </div>
</div>
