<div class="container">
  <div class="d-flex">
    <div class="sarch-box w-25">
      <p>検索</p>
      <h3>ジャンル</h3>
      <% if params[:shop_id] %>
      <%= link_to "全て", items_path(shop_id: params[:shop_id]) %>
      <br>
      <% @genres.each do |genre| %>
        <%= link_to genre, items_path(item_genre: genre, shop_id: params[:shop_id]) %>
        <br>
      <% end %>
      <% else %>
      <%= link_to "全て", items_path %>
      <br>
      <% @genres.each do |genre| %>
        <%= link_to genre, items_path(item_genre: genre) %>
        <br>
      <% end %>
      <% end %>
    </div>
    <div class="items-wrapper w-75 row d-flex flex-wrap">
      <% @items.each do |item| %>
      <div class="item-box col-4 my-2">
        <%= link_to item_path(item.id), {class: "d-flex w-100"} do %>
        <div class="w-50 item-image">
          <%= attachment_image_tag item, :item_image, class:"w-100",fallback: "no_image.jpeg" %>
        </div>
        <div class="item-info w-50">
          <p class="text-center">
            <%= item.item_name %>
          </p>
          <p class="text-center">
            <%= item.tax_price %>（税込）
          </p>
          <p class="text-center">
            <%= item.item_introduction.truncate(15) %>
          </p>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>