<div class="container-fluid">
  <div class="form-box">
    <% if params[:item_genre] %>
      <h3 class="page-title"><%= params[:item_genre] %>一覧</h3>
    <% else %>
      <h3 class="page-title">商品一覧</h3>
    <% end %>
    <div class="row">
      <div class="sarch-box col-md-3">
        <% unless params[:shop_id] %>
          <%= form_with url: items_search_path, method: :get, local: true do |f| %>
            <%= f.text_field :keyward %>
            <%= f.submit "検索", class: "btn" %>
          <% end %>
        <% end %>
        <p>ジャンルから探す</p>
        <% if params[:shop_id] %>
          <%= link_to "全て", items_path(shop_id: params[:shop_id]), class: "link genre-search-link" %>
          <br>
          <% @genres.each do |genre| %>
            <%= link_to genre, items_path(item_genre: genre, shop_id: params[:shop_id]), class: "link genre-search-link" %>
            <br>
          <% end %>
        <% else %>
          <%= link_to "全て", items_path, class: "link genre-search-link" %>
          <br>
          <% @genres.each do |genre| %>
            <%= link_to genre, items_path(item_genre: genre), class: "link genre-search-link" %>
            <br>
          <% end %>
        <% end %>
      </div>
      <div class="col-lg-9 row">
        <% @items.each do |item| %>
          <div class="shop-contents col-md-4 col-sm-6">
            <%= link_to item_path(item.id), class: "row" do %>
              <div class="col-6">
                <%= attachment_image_tag item, :item_image, fallback: "no_image.jpeg", class: "sm-image" %>
              </div>
              <div class="shop-info col-6 text-center">
                <p>
                  <%= item.item_name %>
                </p>
                <p>
                  <%= item.tax_price %>（税込）
                </p>
                <p>
                  <%= item.item_introduction.truncate(15) %>
                </p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>