<!DOCTYPE html>
<html>
  <head>
    <title>SimpleOrder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.cdnfonts.com/css/butler" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header', new_customer_session_path: new_shop_session_path, new_customer_registration_path: new_shop_registration_path %>

    <% if notice %>
      <p class= "alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class= "alert-danger alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <div id="page-top">
      <a href="#"><i class="fas fa-chevron-circle-up"></i></a>
    </div>
  </body>
</html>
